body{
	background-color: black;
	background-image: url(../img/blacktiles.png);
}
.navbar{
    color: white;
    text-align: center;
}
.links{
	background-color: white;
}
a:link {
    text-decoration: none;
    font-size: 20px;
}

a:visited {
    text-decoration: none;
    color: red;
}

a:hover {
    text-decoration: underline;
    color: orange;
}

a:active {
    text-decoration: underline;
}
.homenav{
	display: inline-block;
    text-align: center;
}
.modalnav{
	text-align: center;
}
.webpage{
	background-color: black;
	height: 100%;
	color: white;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.opback{
	padding: 100px 0px 0px 0px;
}
.opaque{
    background: rgba(400, 400, 400, 0.4); 
    height: 450px;
}
@media screen and (max-width: 959px){
	.navbar{
		width: 100%;
	}
    .webpage{
    	width: 100%;
    }
}
@media (max-width: 320px) {
	body {
	}
	.navbar{
		width: 100%;
		text-align: center;
	}
    .webpage{
    	width: 100%;
    }
    .homenav{
	display: inline-block;
    text-align: center;
}
}